venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.coverage
htmlcov/

borajunto.egg-info/
dist/
build/

.env
.env.dev
.env.prod

instance/*.sqlite
instance/uploads/*
!instance/uploads/.gitkeep

.vscode/
.idea/